<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ app_title | capitalize }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="test" name="description" />
        <meta content="test" name="hk" />
        {% block extra_stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            {% include 'default/header.html.twig' %}
        {% endblock %}

        <main class="container">
            <div class="p-5 rounded">
                <h4 class="pt-5 text-center text-muted">
                    {% block title %}{% endblock %}
                </h4>
                {% block flash_messages %}
                    {{ include('default/message.html.twig') }}
                {% endblock flash_messages %}
                <div class="my-5 p-5 bg-body rounded shadow-sm">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>

        {% block footer %}
            {% include 'default/footer.html.twig' %}
        {% endblock %}
        {% block extra_javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
